@model ProjectRecycle.Models.AppUser

@{
    ViewData["Title"] = "Consultant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex flex-row gap-1">
    <div class="col-2 bg-info me-3 min-vh-100">
        <div class="d-flex gap-2 flex-column mt-5 ms-2">
            <h3 class="text-info bg-white p-2" >Profile</h3>
            <a class="text-white  p-2 text-decoration-none" asp-controller="AppUsers" asp-action="ConsultWaste" asp-route-id="@Model?.UserId">Wastes</a>
            <a class="text-white  p-2 text-decoration-none" asp-controller="AppUsers" asp-action="ConsultOffre" asp-route-id="@Model?.UserId">Offres</a>
        </div>

    </div>
    <div class="col-9">
        <h4>Consultant</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Role)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Role)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Diploma)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Diploma)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Expertise)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Expertise)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
        </dl>

    </div>
    
</div>

